.card-link {
  text-decoration: none;
  position: relative;
  transition: transform 0.3s, color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  width: 18rem;
  border-radius: 5px;

  @media screen and (max-width: 1200px) {
    width: 15rem;
  }

  @media screen and (max-width: 992px) {
    width: 12rem;
  }

  &.wide-card {

    @media screen and (max-width: 1400px) {
      width: 80%;
    }

    @media screen and (max-width: 576px) {
      width: 70%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.7s ease;
    border-radius: 5px;
    z-index: 1;
  }

  &:hover::before {
    background-color: rgba(108, 187, 248, 0.297);
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.146);
  }

  &__delete {
    position: relative;
    z-index: 2;
  }
}
