.prew {
  background-color: $yellow-400;

  &__title {
    margin: auto 0 auto 3rem;

    @media screen and (max-width: 992px) {
      font-size: 24px;
      margin: auto 0 auto 1.5rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__header {
    display: flex;
    // align-items: center;
    padding-top: 1.5rem;
    // padding-left: 3rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 400px) {
      padding: 1.5rem 0.5rem;
    }
  }

  &__title-small {
    padding-right: 3rem;

    @media screen and (max-width: 992px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 576px) {
      font-size: 1.2rem;
    }
  }

  &__info {
    display: flex;

    @media screen and (max-width: 400px) {
      width: 75%;
    }
  }

  &__logo {
    width: 40%;
    object-fit: contain;

    @media screen and (max-width: 576px) {
      width: 60%;
    }
  }

  &__partner {
    width: 35%;

    @media screen and (max-width: 576px) {
      width: 40%;
      object-fit: contain;
    }
  }
}
