@import "bootstrap/scss/bootstrap";

@import "./navbar/navbar.scss";
@import "./icon-link/icon-link.scss";
@import "./card-grid/card-grid.scss";
@import "./slider/slider";
@import "./insurance/insurance";
@import "./card-link/card-link";
@import "./auth-form/auth-form";
@import "./locales-link/locales-link";
@import "./custom-card/custom-card";
@import "./custom-button/custom-button";
@import "./title-page/title-page";

// PREW Page
@import "./prew/prew";
@import "./prew-link/prew-link";
@import "./prew-news/prew-news";
@import "./prew-insurance/prew-insurance";
@import "./prew-realty/prew-realty";
@import "./prew-contacts/prew-contacts";

body {
  font-family: "Roboto", sans-serif;
}

.hover-effect {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
