.custom-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #474747;

  &__link {
    text-decoration: none;
    color: #000000;
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease;
    margin-bottom: 3px; /* отступ между текстом и линией снизу */

    &:hover {
      color: $yellow-600;
      border-bottom: 2px solid $yellow-600;
    }
  }

  .nav-link.active,
  .nav-link.show {
    color: $yellow-600;
    border-bottom: 2px solid $yellow-600;
  }
}
